<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>

	<root level="off">
        <appender-ref ref="STDOUT" />
    </root>
    
    <logger name="com.ssafy.happyhouse" level="info"/>
    <logger name="jdbc" level="OFF"/>
	<logger name="jdbc.sqlonly" level="OFF"/>
	<logger name="jdbc.sqltiming" level="info"/>
	<logger name="jdbc.audit" level="OFF"/>
	<logger name="jdbc.resultset" level="OFF"/>
	<logger name="jdbc.resultsettable" level="info"/>
	<logger name="jdbc.connection" level="OFF"/>
</configuration>
