@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#member_list_bg {
	background: rgba(255, 255, 255, 0.9);
	margin: 10vh 15vw;
	padding: 5vh 2vw 2vh 2vw;
	align-content: center;
	border-radius: 20px;
}

.table-bg {
	margin: 10vh 15vw;
	border-radius: 30px;
	align-content: center;
}

.table-spacing {
	/* margin: 10px 50px; */
}

table {
	background-color: #FFF;
}

.btn_signup {
	margin: 0 1vw 0 0;
    padding: 0.6vw 3vw;
    color: #212529;
    background-color: #FF7721;
    border: 0px;
    border-radius: 0.5vw;
    font-family: 'InfinitySans-RegularA1';
    font-size: 10pt;
    transition: .3s;
}

.btn_signup:hover {
	color: #FF7721;
    background-color: #212529;
}

.btn-register {
	margin: 1vw;
    padding: 0.5vw 3vw;
    color: #ff1496;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #ff1496;
    border-radius: 1vw;
    transition: .4s;
}

.btn-register:hover {
	background-color: #ff1496;
	color: #FFF;
}





